.price-level-1:after {
  content: "$";
}
.price-level-2:after {
  content: "$$";
}
.price-level-3:after {
  content: "$$$$";
}
.price-level-4:after {
  content: "$$$$";
}
.price-level-5:after {
  content: "$$$$$";
}
#map {
  min-height: 250px;
}
/** SINGLE RESTAURANT VIEW [START] **/
.restaurant-view {
  background-color: #fff;
  position: fixed;
  top: 5%;
  right: 0;
  bottom: 5%;
  left: 0;
  /* max-width: 65%; */
  padding: 15px;
  border: 1px solid #a3a3a3;
  box-shadow: 0 0 5px #444;
  z-index: 5;
}
/** SINGLE RESTAURANT VIEW [END] **/