.price-level-1:after {
  content: "$";
}

.price-level-2:after {
  content: "$$";
}

.price-level-3:after {
  content: "$$$$";
}

.price-level-4:after {
  content: "$$$$";
}

.price-level-5:after {
  content: "$$$$$";
}

.rating-1:after {
  content: "*";
}

.rating-2:after {
  content: "**";
}

.rating-3:after {
  content: "***";
}

.rating-4:after {
  content: "****";
}

.rating-5:after {
  content: "*****";
}

#map {
  min-height: 250px;
}

/** SINGLE RESTAURANT VIEW [START] **/

.restaurant-view {
  background-color: #fff;
  position: fixed;
  top: 5%;
  right: 0;
  bottom: 5%;
  left: 0;
  /* max-width: 65%; */
  height: 90%;
  padding: 15px;
  border: 1px solid #a3a3a3;
  box-shadow: 0 0 5px #444;
  z-index: 5;
  overflow: scroll;
}

/* .restaurant-view #restaurant-reviews {
  max-height: 200px;
  overflow: scroll;
} */

.restaurant-view #reviews .review {
  margin: 60px 0;
  border-bottom: 2px dashed #efefef;
}

.restaurant-view #reviews .review .review-header {
  margin-bottom: 30px;
}
/** SINGLE RESTAURANT VIEW [END] **/
#restaurantMap {
  min-height: 550px !important;
}
#listView {
  /* display: inline-block; */
  padding-inline-start: 0;
}

/** SINGLE RESTAURANT VIEW [END] **/

/* INDEX.HTML */
.jumboHeaderImg {
  background-image: url('../images/jumbotronBack.jpg');
  background-size: cover;
}

.container {
  background-color: #3a81c8;
  padding: 1rem 2rem;
}

#pickle {
  background-color: pink;
  border: 2px solid black;
  opacity: 0.6;
  border-radius: .3rem;
}

#pickle h1 {
  /* text-decoration:; */
  /* color: olivedrab; */
    padding: 20px;
    background: rgba(162, 52, 52, 0.584);
    color: #fff;
    border-radius: .3rem;
    margin-top: 20px;
} 

.navbar {
  border-radius: .3rem;
  border: 5px groove gold;
  margin-bottom: .5rem!important;

}

.mb-3, .my-3 {
  margin-bottom: .3rem!important;
}

#button-submit {
  margin-bottom: .5rem!important;
  background-color: rebeccapurple;
}
#listView {
  padding: 30px 0;
  list-style: none;
}
#listView .wrapper {
  background-color: #efefef;
  margin-bottom: 15px;
  padding: 15px;
}
#loader {
  text-align: center;
}